[features]
resolution = true
skip-lint = false

[programs.devnet]
alpha_token = "EQfYTxFVJT4B1Chm4wVZ8PsjQH3ZuahvW985YgVoXJfR"

[programs.testnet]
alpha_token = "EQfYTxFVJT4B1Chm4wVZ8PsjQH3ZuahvW985YgVoXJfR"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "testnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[workspace]
members = [
    "programs/*"
]

